# Database
RUDDER_DOLPHIN_DB_URL=jdbc:mysql://127.0.0.1:3306/rudder?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true
RUDDER_DOLPHIN_DB_USERNAME=rudder
RUDDER_DOLPHIN_DB_PASSWORD=rudder123

# Auth (leave empty to disable authentication)
RUDDER_DOLPHIN_AUTH_TOKEN=

# DolphinScheduler
RUDDER_DOLPHIN_DS_URL=http://localhost:12345/dolphinscheduler
RUDDER_DOLPHIN_DS_TOKEN=

# Notification (lark)
RUDDER_DOLPHIN_NOTIFICATION_LARK_WEBHOOK=
